extends layout

block content
   input#search(type="search", placeholder="Enter your token here.")
   h2#results[0]

   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script(src="/javascripts/main.js")