.succsessCode, .uploadFile, .fileList{
  border: .5px solid #444444;
  margin: 10px;
  padding: 10px;
}
tr{
  margin: 10px;
  border: 1px solid #f2b632;
  border-radius: 15px;
  width: 80px;
}
td{
  padding: 10px;
}
input{
  padding: 10px;
  margin: 10px;
}
a{
  color: #f2b632;
}
img{
  border: 2px solid #f2b632;
}
